{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Simple Calculator</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
    <div class="calculator">
      <h1>Myfirst App (Calculator)</h1>
      <div method="post" action="{% url 'calculator' %}">
        {% csrf_token %}
        <input type="text" id="result" readonly>
        <br />
        <button type="button" onclick="clearResult()">C</button>
        <button type="button" onclick="appendToResult('%')">%</button>
        <button type="button" onclick="addBracket()">( )</button>
        <button type="button" onclick="backspace()">⌫</button>
        <br />
        <button type="button" onclick="appendToResult('7')">7</button>
        <button type="button" onclick="appendToResult('8')">8</button>
        <button type="button" onclick="appendToResult('9')">9</button>
        <button type="button" onclick="appendToResult('/')">/</button>
        <br />
        <button type="button" onclick="appendToResult('4')">4</button>
        <button type="button" onclick="appendToResult('5')">5</button>
        <button type="button" onclick="appendToResult('6')">6</button>
        <button type="button" onclick="appendToResult('*')">*</button>
        <br />
        <button type="button" onclick="appendToResult('1')">1</button>
        <button type="button" onclick="appendToResult('2')">2</button>
        <button type="button" onclick="appendToResult('3')">3</button>
        <button type="button" onclick="appendToResult('-')">-</button>
        <br />
        <button type="button" onclick="appendToResult('0')">0</button>
        <button type="button" onclick="appendToResult('.')">.</button>
        <button type="button" onclick="calculate()">=</button>
        <button type="button" onclick="appendToResult('+')">+</button>
      </div>
    </div>
    <script src="{% static 'script.js' %}"></script>
  </body>
</html>
